.box{
   height: 1000px;
   width: 100%; 
   background-color: black;
   font-style: italic;
   border: lightgreen;
   color: white;
   border-radius: 10px;
   text-align: center;
   font-size: 35pt;
}
.dayLight{
    background-color: yellow;
    color: black;
}
.btn1, .btn2, .btn3{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #229ac8;
    border-color: blanchedalmond;
    
}

